# dependencies
alsa-lib==1.2.6.1
alsa-ucm-conf==1.2.6.3
alsa-utils==1.2.6
alsa-utils-scripts==1.2.6
babeld==1.12
bind==9.18.2
btrfs-tools==5.16.2
checksec==2.4.0
cups==2.4.1
curl==7.83.0
devmem2==1.0
dnf==4.12.0
glew==2.2.0
glib-2.0==2.72.1
gnutls==3.7.4
gstreamer1.0==1.20.1
gstreamer1.0-plugins-bad==1.20.1
gstreamer1.0-plugins-base==1.20.1
gtk+3==3.24.33
harfbuzz==4.2.1
hwdata==0.359
init-system-helpers==1.62
iptables==5.17.0
iso-codes==.8.7
iw==5.16
kbd==2.4.0
libcgroup==2.0.1
libnet-dns-perl==1.33
libnotify==0.7.11
librepo==1.14.2
librsvg==2.54.1
libxcb==1.14
libxkbcommon==1.4.0
linux-yocto==5.10.112
logrotate==3.19.0
ltp==20220121
lttng-ust==2.13.2
mariadb==10.7.3
mesa==22.0.2
mesa-demos==8.4.0
mobile-broadband-provider-info==20220315
nativesdk-cmake==3.23.1
nativesdk-curl==7.83.0
nativesdk-dnf==4.12.0
nativesdk-glib-2.0==2.72.1
nativesdk-gnu-config==20220425
nativesdk-gnutls==3.7.4
nativesdk-librepo==1.14.2
nativesdk-lzo==2.10
nativesdk-meson==0.62.1
nativesdk-nettle==3.7.3
nativesdk-ninja==1.10.2
nativesdk-opkg==0.5.0
nativesdk-perl==5.34.1
nativesdk-python3-setuptools==59.5.0
nativesdk-sqlite3==3.38.3
nettle==3.7.3
openvpn==2.5.6
opkg==0.5.0
perl==5.34.1
poppler==22.05.0
psmisc==23.4
pulseaudio==15.0
python3-bcrypt==3.2.0
python3-cachetools==5.0.0
python3-cryptography==37.0.1
python3-cryptography-vectors==37.0.1
python3-hypothesis==6.46.0
python3-importlib-metadata==4.11.3
python3-markdown==3.3.6
python3-more-itertools==8.12.0
python3-pbr==5.8.1
python3-pip==22.0.4
python3-psutil==5.9.0
python3-setuptools==0.7.0
qtbase==-setuptools-59.5.0
qtbase==5.15.3
qtdeclarative==5.15.3
qtlocation==5.15.3
qtmultimedia==5.15.3
qtquickcontrols==5.15.3
qtscript==5.15.3
qtsensors==5.15.3
qtsvg==5.15.3
qttools==5.15.3
qtwebchannel==5.15.3
qtwebkit==5.15.3
qtwebsockets==5.15.3
qtxmlpatterns==5.15.3
sqlite3==3.38.3
sshfs-fuse==3.7.2
stress-ng==0.14.00
swupdate==2021.11
sysstat==12.4.5
systemd==250.5
systemd-boot==250.5
systemtap==4.6
tiff==4.3.0
tracker==3.3.0
xcb-proto==1.14.1
xkeyboard-config==2.35.1
zabbix==6.0.4
